<!doctype html>
<html>
  <head>
    <meta
      name="go-import"
      content="evylang.dev/{{.Mod}} git https://github.com/evylang/{{.Mod}}"
    />
    <meta
      http-equiv="refresh"
      content="0;url=https://github.com/evylang/{{.Mod}}"
    />
  </head>
  <body></body>
</html>
